.game__stage-second {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100svh;

  .game__stage-second-zoom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 4vw;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,1);
    color: dimgray;

    padding: 20px;

    .quantity-question {
      margin-bottom: 50px;
    }

    .game__stage-second-wrapper {
      max-height: 100px;
    }
  }
}
