.confirmation__modal {

  .MuiDialog-paper {
    padding: 15px;
  }

  .modal__font {
    margin: 10px;

    font-size: 30px;
  }

  .action-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
