@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gluten:wght@100;200;300;400;500;600;700;800;900&family=Russo+One&display=swap');
* {
    font-family: 'Dela Gothic One', 'Gluten', 'Russo One', sans-serif;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../public/default.jpg');
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
}
