.stage-fifth {
  .stage-fifth__answer-icon{
    font-size: 45px;
    padding-left: 10px;
    height: 100%;
  }

  .stage-fifth__answer-wrong-icon {
    padding-left: 10px;
    font-size: 45px;
  }

  .stage-fifth__answer {
    text-overflow: ellipsis;
    width: 100%;
  }
  .stage-fifth__answer-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
  }

  .stage-fifth__type-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .stage-fifth__type-answer-paper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 55%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(255, 255, 255, 1);
  }

  .stage-fifth__answer_true {
    .MuiInputBase-input {
      font-size: 40px !important;;
    }
  }

  .slider-wrapper {
    width: 100%;
    position: relative;
  }

  .stage-fifth__slider-paper {
    width: 90%;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
  }

  .slider {
    position: absolute;
    width: 100%;
  }

  .slider-disabled {
    .MuiSlider-thumbSizeMedium {
      z-index: 2;

    }
  }

  .slider-active {
    .MuiSlider-thumb {
      z-index: 3;
    }

    .MuiSlider-valueLabel {
      background: green;
      border-radius: 5px;
      font-size: 100px;
    }

    .MuiSlider-valueLabel::before {
      content: '✓';
      rotate: -45deg;
      top: -130px;
      left: 0;
      right: 0;
      padding-right: 25px;
      margin-left: auto;
      margin-right: auto;
      background: transparent;
      position: absolute;
      color: green;
    }
  }


  .stage-fifth__puzzle {
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }

  .stage-fifth__puzzle-element {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .opacity {
    opacity: 0.5
  }
}
